.ui-datatable .ui-row-editor .ui-icon-pencil { 

background-image: url(../images/edit-icon.png) !important;
background-size: 35px 35px;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: 0px;
 }
 
 .ui-datatable .ui-row-editor .ui-icon-check {
   background-image: url(../images/Ok-icon.png) !important;
   background-size: 35px 35px;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: 0px;
}

.ui-datatable .ui-row-editor .ui-icon-close {
  background-image: url(../images/delete-icon.png) !important;
    background-size: 35px 35px;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: 0px;
}


.ui-icon-seek-next {
	background-position: -50px -163px;

	}
	
/* 	button, input, optgroup, select, textarea { */
/* 	color:black !important; */
	