/roya/target/classes/com/bkeryah/bean/*.class
/roya/target/classes/com/bkeryah/dao/*.class
/roya/target/classes/com/bkeryah/dev/beans/*.class
/roya/target/classes/com/bkeryah/entities/*.class
/roya/target/classes/com/bkeryah/fng/beans/*.class
/roya/target/classes/com/bkeryah/fng/entities/*.class
/roya/target/classes/com/bkeryah/hr/entities/*.class
/roya/target/classes/com/bkeryah/hr/managedBeans/*.class
/roya/target/classes/com/bkeryah/licences/*.class
/roya/target/classes/com/bkeryah/mails/*.class
/roya/target/classes/com/bkeryah/managedBean/*.class
/roya/target/classes/com/bkeryah/managedBean/fuel/*.class
/roya/target/classes/com/bkeryah/managedBean/hr/*.class
/roya/target/classes/com/bkeryah/managedBean/investment/*.class
/roya/target/classes/com/bkeryah/managedBean/licences/*.class
/roya/target/classes/com/bkeryah/managedBean/reqfin/*.class
/roya/target/classes/com/bkeryah/model/*.class
/roya/target/classes/com/bkeryah/penalties/*.class
/roya/target/classes/com/bkeryah/service/*.class
/roya/target/classes/com/bkeryah/shared/beans/*.class
/roya/target/classes/com/bkeryah/stock/beans/*.class
/roya/target/classes/*.properties
/roya/target/classes/resources/*.properties
/roya/target/classes/resources/*.sql
/roya/target/classes/*.sql
/roya/target/classes/utilities/*.class
/roya/target/m2e-wtp/web-resources/META-INF/*.MF
/roya/target/m2e-wtp/web-resources/META-INF/maven/BkeryahGroup/royaTest/*.properties
/roya/target/m2e-wtp/web-resources/META-INF/maven/BkeryahGroup/royaTest/*.xml
